extends layout

block content
  h1 Get Data from Storage TableName:#{tableName}

  if error != ""
    div(class='alert alert-danger') Error: #{error}

  div
    table(class='table')
        thead
        tr 
            th(scope='col') Partitioned Key
            th(scope='col') Row Key
            th(scope='col') Content
        tbody
        each item, i in tableData
            tr
            td(scope='row')= item.PartitionKey
            td= item.RowKey
            td= item.Content
